
body{
	background-color: black;

	background-image: ;


    background-image : url(https://garden.spoonflower.com/c/2814476/p/f/m/1OtzvcpmFeNMqjr403rdcylvXvbAhw5tmnHGAkj_B-xZFMqkB4DG_g/Solid%20Cobalt%20Blue.jpg);
	background-size:cover ;
	background-position: center;
	
}

#login-form{
	background-color: rgba(255, 255, 255, 1.0);
	padding: 30px;
	border-radius: 12px;
	width: 550px;
	margin: 200px auto;
	height: 1200px;
	
	color:#10257a;
}

input[type="email"], input[type="password"]{
	border-radius: 15px;
	font-size:15px;
	width: 150px;
	text-align: center;
	background-color:white;
	color: white;

}

input::placeholder{
	color: black;
}

botton, input[type="reset"] {
	font-size: 10px;
	font-family: cambria;
	background-color: white;
	border-radius: 15px;

}

button:hover{
	font-size: 30px;
	background-color: hotpink;
	border-radius: 30px;

}
input[type="reset"]:hover{
	font-size: 30px;
	background-color: orangered;
	border-radius: 30px;

}
label{
	font-size:18px ;
	font-family: cambria;
}
h1{
	font-family: cambria;

}